<nav class="pHeader">
  <p class="tittleH">Lab experimental</p>
</nav>
<nav class="sHeader">
  <div class="pMenu">
    <button class="myButton" type="button">Consulta</button>
    <button class="myButton" type="button">Cortes</button>
    <button class="myButton" type="button">Pagos</button>
    <button class="myButton" type="button">Usuarios</button>
  </div>
  <div class="sMenu">
    <button [routerLink]="['create']" class="myButton2" type="button">Crear</button>
    <button [routerLink]="['update']" class="myButton2" type="button">Editar</button>
    <button [routerLink]="['delete']" class="myButton2" type="button">Eliminar</button>
  </div>
</nav>
